/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --main-color: #00c7fc;
    --secondry-color: #2c4755;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-padding: 100px;
    --section-background-color: #f6f6f6;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) { 
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) { 
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .container{
        width: 1170px;
    }
}
.section-title{
    text-align: center;
}
.section-title h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.section-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.section-title h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 3px solid #fff;
    background-color: #fff;
    background-color: var(--main-color);
    bottom: -38px;
}
.section-title p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    color: #777;
}
/* End Global Rules */
/* Start Header */
header{
    background: transparent;
    z-index: 3;
    position: absolute;
    width: 100%;
    z-index: 50;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97.55px;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}
header nav,header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
header ul li a{
    display: block;
    color: #fff;
    font-size: 14px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
header ul li a.active,
header ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .logo .img{
    height: 40px;
}
header .form{
    color: #fff;
    padding-left: 20px;
    position: relative;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .form::after{
    content: "";
    position: absolute;
    left: 0;
    width: 1px;
    background-color: #fff;
    height: 200%;
}
header .button{
    position: relative;
    COLOR: #fff;
    font-size: 30px;
    transform: rotateY(180deg);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
@media (max-width: 768px) {
    header nav ul{
        display: none;
    }
    header .button{
        display: flex;
    }
    header nav .button:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #00000050;
        text-align: center;
    }
}
/* End Header */
/* Start Landing */
.landing{
    min-height: 100vh;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    background-color: #1f2021;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    z-index: 2;
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: #fff;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}
@media (max-width: 767px) {
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        width: 100%;
    }
    .landing .change-background{
        display: none;
    }
}
.landing .text .content{
    max-width: 500px;
}
.landing .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p{
    line-height: 2;
    font-size: 14px;
}
.landing .change-background:first-of-type:hover{
    color: var(--main-color);
    animation: hover-left 0.7s linear infinite;
    -webkit-animation: hover-left 0.7s linear infinite;
}
@keyframes hover-left {
    to{
        transform: translateX(-10px) translateY(-50%);
        -webkit-transform: translateX(-10px) translateY(-50%);
        -moz-transform: translateX(-10px) translateY(-50%);
        -ms-transform: translateX(-10px) translateY(-50%);
        -o-transform: translateX(-10px) translateY(-50%);
    }
}
.landing .change-background:last-of-type:hover{
    color: var(--main-color);
    animation: hover-right 0.7s linear infinite;
    -webkit-animation: hover-right 0.7s linear infinite;
}
@keyframes hover-right {
    to{
        transform: translateX(10px) translateY(-50%);
        -webkit-transform: translateX(10px) translateY(-50%);
        -moz-transform: translateX(10px) translateY(-50%);
        -ms-transform: translateX(10px) translateY(-50%);
        -o-transform: translateX(10px) translateY(-50%);
}
}
.landing .change-background{
    transition: 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #ddd;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.landing .fa-chevron-left{
    left: 30px;
}
.landing .fa-chevron-right{
    right: 30px;
}
.landing ul.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.landing ul.bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
.landing ul.bullets li:hover,
.landing ul.bullets li.active{
    background-color: var(--main-color);
}
/* End Landing */  
/* Start Services */
.services{
    background-color: #fff;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.services .service{
    display: flex;
    border: 3px solid transparent;
    padding: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
@media (max-width: 767px) {
    .services .service{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    .services .service i{
        margin-right: 0 !important;
        margin-bottom: 40px;
    }
}
.services .service:hover{
    border: 3px solid var(--main-color);
}
.services .service i{
    margin-right: 50px;
    color: var(--main-color);
}
.services .service h3{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: normal;
}
.services .service p{
    line-height: 2;
    color: #777;
}
@media (min-width: 768px) {
    .services .content{
        grid-template-columns: repeat(auto-fill,minmax(450px , 1fr));
        gap: 30px;
        display: grid;
    }
}
/* End Services */
/* Start Design */
.design{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    height: 600px;
    position: relative;
    background-image: url(../img/design-features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #fff;
}
.design:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #00000050;
}
.design .img,
.design .text{
    position: relative;
    z-index: 3;
    flex: 1;
}
.design .img{
    text-align: center;
}
.design .img img{
    position: relative;
    bottom: -150px;
}
.design .text{
    padding: 50px;
    background-color: var(--transparent-color);
}
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li{
    padding: 15px 0;
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.design .text ul li:hover{
    color: var(--main-color);
}
.design .text ul li::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 20px;
    font-size: 20px;
    color: var(--main-color);
}
.design .text ul li:nth-child(1):before{
    content: "\f390";
}
.design .text ul li:nth-child(2):before{
    content: "\e2ca";
}
.design .text ul li:nth-child(3):before{
    content: "\f121";
}
.design .text ul li:nth-child(4):before{
    content: "\e163";
}
@media (max-width: 768px) {
    .design .img{
        display: none;
    }
    .design .text h2{
        font-size: 30px;
    }
    .design .text ul li , .design .text ul li::before{
        font-size: 25px;
    }
}
/* End Design */
/* Start Portfolio */
.portfolio{
    background-color: #fff;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.portfolio .shuffle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.portfolio .shuffle li{
    padding: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .shuffle li:hover,
.portfolio .shuffle .active,
.portfolio .btn:hover,
.vedio .content a:hover{
    color: #fff;
    background-color: var(--main-color);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.portfolio .content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .content .box .text{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    width: 100%;
}
.portfolio .content .box .text h4{
    color: #777;
    margin-bottom: 10px;
}
.portfolio .content .box .text p{
    color: var(--main-color);
}
.portfolio .content .box{
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) {
    .portfolio .content .box{
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .content .box{
        flex-basis: 25%;
    }
}
.portfolio .content .box img{
    max-width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .content .box img:hover + .text{
    transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
    -moz-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    -o-transform: translateY(-90%);
}
.portfolio .content .box img:hover {
    transform: scale(1.3) rotateZ(5deg);
    -webkit-transform: scale(1.3) rotateZ(5deg);
    -moz-transform: scale(1.3) rotateZ(5deg);
    -ms-transform: scale(1.3) rotateZ(5deg);
    -o-transform: scale(1.3) rotateZ(5deg);
}
.portfolio .btn{
    display: block;
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    margin: 0 auto;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    margin-top: 40px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/* End Portfolio */
/* Start Vedio */
.vedio{
    position: relative;
}
.vedio .overlay{
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color: #00000060;
}
.vedio video{
    width: 100%;
}
.vedio .content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    z-index: 3;
    padding: 50px 0;
    background-color: var(--transparent-color);
}
.vedio .content h1{
    margin-bottom: 30px;
    font-weight: normal;
}
.vedio .content a{
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    width: fit-content;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.vedio .content a:hover{
    background-color: #fff;
    color: #000;
}
@media (max-width: 768px) {
    .vedio .content{
        padding: 20px 0;
    }
    .vedio .content h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .vedio .content a{
        font-size: 10px;
        margin-top: 15px;
    }
    .vedio .content p{
        font-size: 12px;
    }
}
/* End Vedio */
/* Start About */
.about{
    padding-top: var(--main-padding);
}
.about .container{
    overflow: hidden;
}
.about .container .img{
    width: fit-content;
    margin: 0 auto;
    margin-top: -130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .container img{
    position: relative;
    bottom: -120px;
    max-width: 100%;
}
/* End About */
/* Start Status */
.status{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    text-align: center;
    background-image: url(../img/stats.png);
    background-size: cover;
    position: relative;
}
.status::after{
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000af;
    width: 100%;
    height: 100%;
}
.status .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.status .container .box{
    z-index: 3;
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
.status .container .box h1{
    margin: 0 0 20px;
    font-size: 50px;
}
.status .container .box i{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.status .container .box p{
    font-size: 14px;
}
@media (max-width: 767px) {
    .status .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .status .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .status .container .box {
        flex-basis: 25%;
    }
}
/* End Status */
/* Start Our-Skills */
.our-skills{
    padding: var(--main-padding) 0;
}
.our-skills .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.our-skills .testimonials,
.our-skills .container .skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.our-skills .testimonials > p:first-of-type ,
.our-skills .skills > p:first-of-type{
    color: #777;
    margin-bottom: 50px;
    line-height: 2;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
.our-skills .testimonials h3,
.our-skills .skills h3{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
}
.our-skills .testimonials .man{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.our-skills .testimonials .man img{
    min-width: 120px;
    max-width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.our-skills .testimonials div.man{
    margin-bottom: 30px;
}
.our-skills .testimonials .man .text p{
    line-height: 1.7;
    text-align: left;
}
.our-skills .testimonials .man .text span{
    text-align: right;
    display: block;
    color: #777;
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 20px;
}
.our-skills .testimonials ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
.our-skills .testimonials ul li{
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.our-skills .testimonials ul li:hover,
.our-skills .testimonials ul li.active{
    background-color: var(--main-color);
}
.our-skills .skills .content{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    width: 100%;
}
.our-skills .skills .content ul li h4{
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .skills .content ul li{
    width: 100%;
    margin-bottom: 30px;
}
.our-skills .skills .content ul li:last-of-type{
    margin-bottom: 0;
}
.our-skills .skills .content ul li span{
    width: 100%;
    height: 30px;
    display: block;
    background-color: #c4c4c4;
}
.our-skills .skills .content ul li span div{
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .content ul li span div::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 30px;
    top: -40px;
    right: -20px;
    background-color: #1f2021;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-skills .skills .content ul li span div::before{
    content: "";
    position: absolute;
    top: -12px;
    border: 10px solid #1f2021;
    right: -10px;
    border-color: #1f2021 transparent transparent transparent;
}
.our-skills .skills .content ul li span .color1::after{
    content: "90%";
}
.our-skills .skills .content ul li span .color2::after{
    content: "85%";
}
.our-skills .skills .content ul li span .color3::after{
    content: "80%";
}
.our-skills .skills .content ul li span .color4::after{
    content: "90%";
}
.our-skills .skills .content ul li span .color1{
    width: 90%;
}
.our-skills .skills .content ul li span .color2{
    width: 85%;
}
.our-skills .skills .content ul li span .color3{
    width: 80%;
}
.our-skills .skills .content ul li span .color4{
    width: 90%;
}
@media (max-width: 992px) {
    .our-skills .testimonials{
        margin-bottom: 50px;
    }
    .our-skills .testimonials h3,
    .our-skills .skills h3{
        font-size: 25px;
    }
    .our-skills .skills .content ul li h4{
        font-size: 15px;
    }
    .our-skills .testimonials > p:first-of-type ,
    .our-skills .skills > p:first-of-type{
        font-size: 18px;
    }
    .our-skills .testimonials ul{
        padding-bottom: 30px;
        width: 100%;
        justify-content: center;
        border-bottom: 5px solid var(--main-color);
    }
}
@media (max-width: 768px) {
    .our-skills .skills .content ul li span div::after{
        width: 30px;
        height: 20px;
        font-size: 12px;
        right: -15px;
        top: -26px;
    }
    .our-skills .testimonials .man img{
        height: 90px;
        min-width: 50px;
        position: relative;
        border: 5px solid #f4f4f4;
    }
    .our-skills .testimonials .man{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    .our-skills .testimonials .man .text p{
        text-align: center;
    }
    .our-skills .skills .content ul li span{
        height: 20px;
    }
    .our-skills .testimonials h3,
    .our-skills .skills h3{
        font-size: 20px;
    }
}
/* End Our-Skills */
/* Start Quote */
.quote{
    padding: var(--main-padding) 0;
    background-image: url(../img/quote.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.quote::before{
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000af;
    width: 100%;
    height: 100%;
}
.quote .text{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 5;
    color: #fff;
}
.quote .text p{
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}
/* End Quote */
/* Start Pricing */
.pricing{
    padding: var(--main-padding) 0;
}
.pricing .content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}
.pricing .plan{
    padding: 40px;
    background-color: #fcfcfc;
    border-bottom: 1px solid var(--color);
    min-width: 250px;
}
.pricing .plan:first-child{
    --color: var(--main-color);
    border-top: 1px solid var(--main-color);
}
.pricing .plan:nth-child(2){
    --color: #ff7300;
    border-top: 1px solid #ff7300;
}
.pricing .plan:nth-child(3){
    --color: #5d00ff;
    border-top: 1px solid #5d00ff;
}
.pricing .plan:last-child{
    --color: #ff0080;
    border-top: 1px solid #ff0080;
}
.pricing .plan h3{
    font-size: 25px;
    font-weight: normal;
    color: var(--color);
    text-transform: uppercase;
}
.pricing .plan span:first-of-type{
    padding: 30px 20px;
    display: block;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    width: 100%;
}
.pricing .plan .top{
    position: relative;
}
.pricing .plan .top:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 148%;
    height: 1px;
    left: -40px;
    border-bottom: 1px solid var(--color);
}
.pricing .plan span:first-of-type::before{
    content: "/Mo";
    position: absolute;
    bottom: 30px;
    right: -15px;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 20px;
}
.pricing .plan span:first-of-type::after{
    content: "$";
    position: absolute;
    top: 20px;
    left: 7px;
    font-size: 20px;
    font-weight: normal;
}
.pricing .plan ul li{
    position: relative;
    padding:  20px 0;
    color: #777;
    border-bottom: 1px solid var(--color);
}
.pricing .plan ul li:last-of-type:after{
    content: "";
    position: absolute;
    left: -40px;
    width: 148%;
    bottom: 0;
    border-bottom: 1px solid var(--color);
}
.pricing .plan ul li:last-of-type{
    border: none;
}
.pricing .plan a:last-of-type{
    padding: 15px 5px;
    display: block;
    border: 1px solid var(--color);
    background-color: var(--color);
    margin: 30px 0 0;
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.pricing .plan a:last-of-type:hover{
    background-color: transparent;
    color: var(--color);
    box-shadow: 0 2px 15px 0 var(--color);
}
.pricing .text{
    text-align: center;
    margin: 50px;
    font-size: 20px;
}
.pricing .text a{
    margin: 0 auto;
    margin-top: 30px;
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 20px;
    display: block;
    width: fit-content;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border: 1px solid transparent;
}
.pricing .text a:hover{
    border-color: var(--main-color);
    background: transparent;
    color: var(--main-color);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px 0 var(--main-color);
}
/* End Pricing */
/* Start Subscribe */
.subscribe{
    padding: var(--main-padding) 0;
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}
.subscribe:after{
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000af;
    width: 100%;
    height: 100%;
}
.subscribe .container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}
.subscribe p{
    font-size: 20px;
}
.subscribe p,
.subscribe form{
    position: relative;
    z-index: 5;
}
.subscribe form{
    display: flex;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.subscribe form input:first-of-type{
    padding: 5px;
    caret-color: var(--main-color);
    background-color: transparent;
    border: none;
    color: #fff;
}
.subscribe form input:last-of-type:hover{
    background-color: #fff;
    color: var(--main-color);
}
.subscribe form input:last-of-type{
    transition: 0.3s;
    color: #fff;
    background-color: var(--main-color);
    height: 100%;
    border: none;
    outline: none;
    padding: 15px 10px;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
.subscribe form i{
    font-size: 25px;
    padding: 14px 10px;
}
/* End Subscribe */
/* Start Contact */
.contact{
    padding: var(--main-padding) 0;
}
.contact .content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact .content form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 80%;
}
.contact .content form input:hover,
.contact .content form textarea:hover{
    border-color: var(--main-color);
    box-shadow: 0 2px 15px 0 var(--main-color);
}
.contact .content form input,
.contact .content form textarea{
    padding: 15px;
    border: none;
    border: 1px solid #c4c4c4;
    font-size: 20px;
    caret-color: var(--main-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.contact .content form textarea{
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    width: 100%;
    height: fit-content;
    max-width: 945px;
    max-height: 500px;
    min-width: 175px;
    min-height: 57px;
}
.contact .content form button{
    width: fit-content;
    padding: 20px;
    align-self: flex-end;
    font-size: 20px;
    border: none;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.contact .content form button:hover{
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
    box-shadow: 0 2px 15px 0 var(--main-color);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.contact .text{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.contact .text h3{
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contact .text p{
    line-height: 1.5;
    color: #777;
}
@media (max-width: 1090px) {
    .contact .content{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .contact .content .text{
        width: 100%;
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .contact .content .text br{
        display: none;
    }
}
@media (max-width: 768px) {
    .contact .content form button{
        align-self: center;
    }
    .contact .content form textarea{
        max-width: 100%;
    }
}
/* End Contact */
/* Start Footer */
footer{
    padding: 50px 0;
    background: url(../img/subscribe.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
footer::after{
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000af;
    width: 100%;
    height: 100%;
}
footer .container{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    flex-direction: column;
}
footer img{
    width: 120px;
    margin-bottom: 30px;
}
footer h1{
    padding: 30px;
    font-weight: normal;
    border-bottom: 1px solid #fff;
}
footer .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    margin-bottom: 60px;
}
footer i{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer i:hover{
    color: #26a4e3;
}
footer p:last-of-type{
    font-size: 20px;
}
footer p:last-of-type span{
    color: var(--main-color);
    cursor: pointer;
}
/* End Footer */
/* Fix Buges */
@media (max-width: 380px) {
    .about .container .img img{
        bottom: -64px;
    }
    .status .container .box{
        flex-basis: 50%;
        min-width: 50%;
        text-align: center;
    }
    .status .container .box h1{
        font-size: 25px;
    }
    .subscribe form{
        flex-wrap: wrap;
    }
    .subscribe form input:last-of-type{
        width: 100%;
        padding: 18px 10px;
        font-size: 15px;
    }
}