.our{
    text-align: center;
}
.last p{
    background-color: #2c5fbefe;
    height: 30px;
    margin-left: 150px;
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 1.4rem;
    padding: 9px;
}
.last .a60{
    width: 40%;
}
.last .a70{
    width: 50%;
}
.last .a80{
    width: 65%;
}
.last .a65{
    width: 45%;
}
.last .a90{
    width: 77%;
}
.last{
    display: flex;
    margin-left: 135px;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.last span{
    display: flex;
    align-items: center;
}
